.CartographicSurface {
  z-index: 1020;
  position: fixed;
  right: 55px;
  bottom: 55px;
  background: rgba(0, 0, 0, 0.5);
  border: 1px solid #333;
}
.CartographicSurface .ViewPort {
  position: absolute;
  background: rgba(0, 0, 255, 0.3);
}
.CartographicSurface .nodes {
  position: relative;
}
.CartographicSurface .nodes .node {
  position: absolute;
  background: rgba(255, 255, 255, 0.5);
}



canvas.sketch {
  cursor: crosshair;
}



.color-picker canvas {
  border: 1px solid #888;
}

.color-picker canvas.main:hover {
  cursor: crosshair;
}

.color-picker canvas.spectrum:hover {
  cursor: row-resize;
}

.color-picker canvas:active {
  cursor: none;
}

body {
  background-image: url(/css/cardboard_flat.png);
  font-family: ubuntu-mono, serif;
  color: #333;
  background-color: #efefef;
  margin: 0;
  padding: 0;
  width: 3333px;
  height: 3333px;
  margin-top: 51px;
}
.modal {
  position: absolute;
  border-radius: 5px;
  border: 1px solid #999;
  padding: 5px;
  background: #fefefe;
  overflow: hidden;
  clear: both;
}
.widget {
  background: #fffffe;
  border-radius: 5px;
  border: 1px solid #999;
  position: absolute;
  overflow: hidden;
}
.widget .handle {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border: 1px solid #666;
  background: #666;
  color: white;
  padding: 5px;
  overflow: hidden;
}
.widget .handle .title {
  float: left;
}
.widget .handle .widgetButtons {
  float: right;
}
.widget .handle input {
  margin-top: 2px;
  border: 0;
  background: none;
  margin-left: 5px;
  font-family: inherit;
  font-size: 95%;
  color: #fff;
}
.widget.note.ui-draggable,
.widget.label.ui-draggable {
  background: none;
  border: 0;
  width: 300px;
  height: 150px;
}
.widget.note.ui-draggable .handle,
.widget.label.ui-draggable .handle {
  border: 0;
  background: none;
  color: #333;
}
.widget.note.ui-draggable .widgetButtons,
.widget.label.ui-draggable .widgetButtons {
  position: absolute;
  right: 5px;
  top: 5px;
}
.widget.note.ui-draggable .CodeMirror,
.widget.label.ui-draggable .CodeMirror {
  background: rgba(255, 255, 255, 0.5);
}
.widget.note.ui-draggable .parsed > *:first-child,
.widget.label.ui-draggable .parsed > *:first-child {
  margin-top: 0 !important;
}
.widget.note.ui-draggable .parsed > *:last-child,
.widget.label.ui-draggable .parsed > *:last-child {
  margin-bottom: 0 !important;
}
.widget.note.ui-draggable .parsed a,
.widget.label.ui-draggable .parsed a {
  color: #4183C4;
}
.widget.note.ui-draggable .parsed a.absent,
.widget.label.ui-draggable .parsed a.absent {
  color: #cc0000;
}
.widget.note.ui-draggable .parsed a.anchor,
.widget.label.ui-draggable .parsed a.anchor {
  display: block;
  padding-left: 30px;
  margin-left: -30px;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
}
.widget.note.ui-draggable .parsed h1,
.widget.label.ui-draggable .parsed h1,
.widget.note.ui-draggable .parsed h2,
.widget.label.ui-draggable .parsed h2,
.widget.note.ui-draggable .parsed h3,
.widget.label.ui-draggable .parsed h3,
.widget.note.ui-draggable .parsed h4,
.widget.label.ui-draggable .parsed h4,
.widget.note.ui-draggable .parsed h5,
.widget.label.ui-draggable .parsed h5,
.widget.note.ui-draggable .parsed h6,
.widget.label.ui-draggable .parsed h6 {
  margin: 20px 0 10px;
  padding: 0;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  cursor: text;
  position: relative;
}
.widget.note.ui-draggable .parsed h1 tt,
.widget.label.ui-draggable .parsed h1 tt,
.widget.note.ui-draggable .parsed h1 code,
.widget.label.ui-draggable .parsed h1 code {
  font-size: inherit;
}
.widget.note.ui-draggable .parsed h2 tt,
.widget.label.ui-draggable .parsed h2 tt,
.widget.note.ui-draggable .parsed h2 code,
.widget.label.ui-draggable .parsed h2 code {
  font-size: inherit;
}
.widget.note.ui-draggable .parsed h3 tt,
.widget.label.ui-draggable .parsed h3 tt,
.widget.note.ui-draggable .parsed h3 code,
.widget.label.ui-draggable .parsed h3 code {
  font-size: inherit;
}
.widget.note.ui-draggable .parsed h4 tt,
.widget.label.ui-draggable .parsed h4 tt,
.widget.note.ui-draggable .parsed h4 code,
.widget.label.ui-draggable .parsed h4 code {
  font-size: inherit;
}
.widget.note.ui-draggable .parsed h5 tt,
.widget.label.ui-draggable .parsed h5 tt,
.widget.note.ui-draggable .parsed h5 code,
.widget.label.ui-draggable .parsed h5 code {
  font-size: inherit;
}
.widget.note.ui-draggable .parsed h6 tt,
.widget.label.ui-draggable .parsed h6 tt,
.widget.note.ui-draggable .parsed h6 code,
.widget.label.ui-draggable .parsed h6 code {
  font-size: inherit;
}
.widget.note.ui-draggable .parsed h1,
.widget.label.ui-draggable .parsed h1 {
  font-size: 28px;
  color: black;
}
.widget.note.ui-draggable .parsed h2,
.widget.label.ui-draggable .parsed h2 {
  font-size: 24px;
  border-bottom: 1px solid #cccccc;
  color: black;
}
.widget.note.ui-draggable .parsed h3,
.widget.label.ui-draggable .parsed h3 {
  font-size: 18px;
}
.widget.note.ui-draggable .parsed h4,
.widget.label.ui-draggable .parsed h4 {
  font-size: 16px;
}
.widget.note.ui-draggable .parsed h5,
.widget.label.ui-draggable .parsed h5 {
  font-size: 14px;
}
.widget.note.ui-draggable .parsed h6,
.widget.label.ui-draggable .parsed h6 {
  color: #777777;
  font-size: 14px;
}
.widget.note.ui-draggable .parsed p,
.widget.label.ui-draggable .parsed p,
.widget.note.ui-draggable .parsed blockquote,
.widget.label.ui-draggable .parsed blockquote,
.widget.note.ui-draggable .parsed ul,
.widget.label.ui-draggable .parsed ul,
.widget.note.ui-draggable .parsed ol,
.widget.label.ui-draggable .parsed ol,
.widget.note.ui-draggable .parsed dl,
.widget.label.ui-draggable .parsed dl,
.widget.note.ui-draggable .parsed li,
.widget.label.ui-draggable .parsed li,
.widget.note.ui-draggable .parsed table,
.widget.label.ui-draggable .parsed table,
.widget.note.ui-draggable .parsed pre,
.widget.label.ui-draggable .parsed pre {
  margin: 15px 0;
}
.widget.note.ui-draggable .parsed hr,
.widget.label.ui-draggable .parsed hr {
  background: transparent url("/datomicism/lib/../../images/modules/pulls/dirty-shade.png") repeat-x 0 0;
  border: 0 none;
  color: #cccccc;
  height: 4px;
  padding: 0;
}
.widget.note.ui-draggable .parsed > h2:first-child,
.widget.label.ui-draggable .parsed > h2:first-child {
  margin-top: 0;
  padding-top: 0;
}
.widget.note.ui-draggable .parsed > h1:first-child,
.widget.label.ui-draggable .parsed > h1:first-child {
  margin-top: 0;
  padding-top: 0;
}
.widget.note.ui-draggable .parsed > h1:first-child + h2,
.widget.label.ui-draggable .parsed > h1:first-child + h2 {
  margin-top: 0;
  padding-top: 0;
}
.widget.note.ui-draggable .parsed > h3:first-child,
.widget.label.ui-draggable .parsed > h3:first-child,
.widget.note.ui-draggable .parsed body > h4:first-child,
.widget.label.ui-draggable .parsed body > h4:first-child,
.widget.note.ui-draggable .parsed body > h5:first-child,
.widget.label.ui-draggable .parsed body > h5:first-child,
.widget.note.ui-draggable .parsed body > h6:first-child,
.widget.label.ui-draggable .parsed body > h6:first-child {
  margin-top: 0;
  padding-top: 0;
}
.widget.note.ui-draggable .parsed a:first-child h1,
.widget.label.ui-draggable .parsed a:first-child h1,
.widget.note.ui-draggable .parsed a:first-child h2,
.widget.label.ui-draggable .parsed a:first-child h2,
.widget.note.ui-draggable .parsed a:first-child h3,
.widget.label.ui-draggable .parsed a:first-child h3,
.widget.note.ui-draggable .parsed a:first-child h4,
.widget.label.ui-draggable .parsed a:first-child h4,
.widget.note.ui-draggable .parsed a:first-child h5,
.widget.label.ui-draggable .parsed a:first-child h5,
.widget.note.ui-draggable .parsed a:first-child h6,
.widget.label.ui-draggable .parsed a:first-child h6 {
  margin-top: 0;
  padding-top: 0;
}
.widget.note.ui-draggable .parsed h1 p,
.widget.label.ui-draggable .parsed h1 p,
.widget.note.ui-draggable .parsed h2 p,
.widget.label.ui-draggable .parsed h2 p,
.widget.note.ui-draggable .parsed h3 p,
.widget.label.ui-draggable .parsed h3 p,
.widget.note.ui-draggable .parsed h4 p,
.widget.label.ui-draggable .parsed h4 p,
.widget.note.ui-draggable .parsed h5 p,
.widget.label.ui-draggable .parsed h5 p,
.widget.note.ui-draggable .parsed h6 p,
.widget.label.ui-draggable .parsed h6 p {
  margin-top: 0;
}
.widget.note.ui-draggable .parsed li p.first,
.widget.label.ui-draggable .parsed li p.first {
  display: inline-block;
}
.widget.note.ui-draggable .parsed ul,
.widget.label.ui-draggable .parsed ul,
.widget.note.ui-draggable .parsed ol,
.widget.label.ui-draggable .parsed ol {
  padding-left: 30px;
}
.widget.note.ui-draggable .parsed ul :first-child,
.widget.label.ui-draggable .parsed ul :first-child,
.widget.note.ui-draggable .parsed ol :first-child,
.widget.label.ui-draggable .parsed ol :first-child {
  margin-top: 0;
}
.widget.note.ui-draggable .parsed ul :last-child,
.widget.label.ui-draggable .parsed ul :last-child,
.widget.note.ui-draggable .parsed ol :last-child,
.widget.label.ui-draggable .parsed ol :last-child {
  margin-bottom: 0;
}
.widget.note.ui-draggable .parsed dl,
.widget.label.ui-draggable .parsed dl {
  padding: 0;
}
.widget.note.ui-draggable .parsed dl dt,
.widget.label.ui-draggable .parsed dl dt {
  font-size: 14px;
  font-weight: bold;
  font-style: italic;
  padding: 0;
  margin: 15px 0 5px;
}
.widget.note.ui-draggable .parsed dl dt:first-child,
.widget.label.ui-draggable .parsed dl dt:first-child {
  padding: 0;
}
.widget.note.ui-draggable .parsed dl dt > :first-child,
.widget.label.ui-draggable .parsed dl dt > :first-child {
  margin-top: 0;
}
.widget.note.ui-draggable .parsed dl dt > :last-child,
.widget.label.ui-draggable .parsed dl dt > :last-child {
  margin-bottom: 0;
}
.widget.note.ui-draggable .parsed dl dd,
.widget.label.ui-draggable .parsed dl dd {
  margin: 0 0 15px;
  padding: 0 15px;
}
.widget.note.ui-draggable .parsed dl dd > :first-child,
.widget.label.ui-draggable .parsed dl dd > :first-child {
  margin-top: 0;
}
.widget.note.ui-draggable .parsed dl dd > :last-child,
.widget.label.ui-draggable .parsed dl dd > :last-child {
  margin-bottom: 0;
}
.widget.note.ui-draggable .parsed blockquote,
.widget.label.ui-draggable .parsed blockquote {
  border-left: 4px solid #dddddd;
  padding: 0 15px;
  color: #777777;
}
.widget.note.ui-draggable .parsed blockquote > :first-child,
.widget.label.ui-draggable .parsed blockquote > :first-child {
  margin-top: 0;
}
.widget.note.ui-draggable .parsed blockquote > :last-child,
.widget.label.ui-draggable .parsed blockquote > :last-child {
  margin-bottom: 0;
}
.widget.note.ui-draggable .parsed table,
.widget.label.ui-draggable .parsed table {
  padding: 0;
}
.widget.note.ui-draggable .parsed table tr,
.widget.label.ui-draggable .parsed table tr {
  border-top: 1px solid #cccccc;
  background-color: white;
  margin: 0;
  padding: 0;
}
.widget.note.ui-draggable .parsed table tr:nth-child(2n),
.widget.label.ui-draggable .parsed table tr:nth-child(2n) {
  background-color: #f8f8f8;
}
.widget.note.ui-draggable .parsed table tr th,
.widget.label.ui-draggable .parsed table tr th {
  font-weight: bold;
  border: 1px solid #cccccc;
  text-align: left;
  margin: 0;
  padding: 6px 13px;
}
.widget.note.ui-draggable .parsed table tr td,
.widget.label.ui-draggable .parsed table tr td {
  border: 1px solid #cccccc;
  text-align: left;
  margin: 0;
  padding: 6px 13px;
}
.widget.note.ui-draggable .parsed table tr th :first-child,
.widget.label.ui-draggable .parsed table tr th :first-child,
.widget.note.ui-draggable .parsed table tr td :first-child,
.widget.label.ui-draggable .parsed table tr td :first-child {
  margin-top: 0;
}
.widget.note.ui-draggable .parsed table tr th :last-child,
.widget.label.ui-draggable .parsed table tr th :last-child,
.widget.note.ui-draggable .parsed table tr td :last-child,
.widget.label.ui-draggable .parsed table tr td :last-child {
  margin-bottom: 0;
}
.widget.note.ui-draggable .parsed img,
.widget.label.ui-draggable .parsed img {
  max-width: 100%;
}
.widget.note.ui-draggable .parsed span.frame,
.widget.label.ui-draggable .parsed span.frame {
  display: block;
  overflow: hidden;
}
.widget.note.ui-draggable .parsed span.frame > span,
.widget.label.ui-draggable .parsed span.frame > span {
  border: 1px solid #dddddd;
  display: block;
  float: left;
  overflow: hidden;
  margin: 13px 0 0;
  padding: 7px;
  width: auto;
}
.widget.note.ui-draggable .parsed span.frame span img,
.widget.label.ui-draggable .parsed span.frame span img {
  display: block;
  float: left;
}
.widget.note.ui-draggable .parsed span.frame span span,
.widget.label.ui-draggable .parsed span.frame span span {
  clear: both;
  color: #333333;
  display: block;
  padding: 5px 0 0;
}
.widget.note.ui-draggable .parsed span.align-center,
.widget.label.ui-draggable .parsed span.align-center {
  display: block;
  overflow: hidden;
  clear: both;
}
.widget.note.ui-draggable .parsed span.align-center > span,
.widget.label.ui-draggable .parsed span.align-center > span {
  display: block;
  overflow: hidden;
  margin: 13px auto 0;
  text-align: center;
}
.widget.note.ui-draggable .parsed span.align-center span img,
.widget.label.ui-draggable .parsed span.align-center span img {
  margin: 0 auto;
  text-align: center;
}
.widget.note.ui-draggable .parsed span.align-right,
.widget.label.ui-draggable .parsed span.align-right {
  display: block;
  overflow: hidden;
  clear: both;
}
.widget.note.ui-draggable .parsed span.align-right > span,
.widget.label.ui-draggable .parsed span.align-right > span {
  display: block;
  overflow: hidden;
  margin: 13px 0 0;
  text-align: right;
}
.widget.note.ui-draggable .parsed span.align-right span img,
.widget.label.ui-draggable .parsed span.align-right span img {
  margin: 0;
  text-align: right;
}
.widget.note.ui-draggable .parsed span.float-left,
.widget.label.ui-draggable .parsed span.float-left {
  display: block;
  margin-right: 13px;
  overflow: hidden;
  float: left;
}
.widget.note.ui-draggable .parsed span.float-left span,
.widget.label.ui-draggable .parsed span.float-left span {
  margin: 13px 0 0;
}
.widget.note.ui-draggable .parsed span.float-right,
.widget.label.ui-draggable .parsed span.float-right {
  display: block;
  margin-left: 13px;
  overflow: hidden;
  float: right;
}
.widget.note.ui-draggable .parsed span.float-right > span,
.widget.label.ui-draggable .parsed span.float-right > span {
  display: block;
  overflow: hidden;
  margin: 13px auto 0;
  text-align: right;
}
.widget.note.ui-draggable .parsed code,
.widget.label.ui-draggable .parsed code,
.widget.note.ui-draggable .parsed tt,
.widget.label.ui-draggable .parsed tt {
  margin: 0 2px;
  padding: 0 5px;
  white-space: nowrap;
  border: 1px solid #eaeaea;
  background-color: #f8f8f8;
  border-radius: 3px;
}
.widget.note.ui-draggable .parsed pre code,
.widget.label.ui-draggable .parsed pre code {
  margin: 0;
  padding: 0;
  white-space: pre;
  border: none;
  background: transparent;
}
.widget.note.ui-draggable .parsed strong,
.widget.label.ui-draggable .parsed strong {
  font-weight: bold;
}
.widget.note.ui-draggable .parsed em,
.widget.label.ui-draggable .parsed em {
  text-decoration: italic;
}
.widget.note.ui-draggable .parsed .highlight pre,
.widget.label.ui-draggable .parsed .highlight pre {
  background-color: #f8f8f8;
  border: 1px solid #cccccc;
  font-size: 13px;
  line-height: 19px;
  overflow: auto;
  padding: 6px 10px;
  border-radius: 3px;
}
.widget.note.ui-draggable .parsed pre,
.widget.label.ui-draggable .parsed pre {
  background-color: #f8f8f8;
  border: 1px solid #cccccc;
  font-size: 13px;
  line-height: 19px;
  overflow: auto;
  padding: 6px 10px;
  border-radius: 3px;
}
.widget.note.ui-draggable .parsed pre code,
.widget.label.ui-draggable .parsed pre code,
.widget.note.ui-draggable .parsed pre tt,
.widget.label.ui-draggable .parsed pre tt {
  background-color: transparent;
  border: none;
}
.widget.label.ui-draggable .noteContent {
  width: 350px;
  font-size: 150%;
}
.widget.note.ui-draggable {
  height: 100px;
}
.widget.note.ui-draggable .noteContent {
  width: 250px;
  float: left;
  white-space: pre;
}
.widget.browser.ui-draggable {
  height: 350px;
  width: 500px;
}
.widget.browser.ui-draggable .cols {
  position: relative;
  overflow: hidden;
  clear: both;
}
.widget.browser.ui-draggable .cols .col {
  float: left;
  display: block;
  overflow: auto;
}
.widget.browser.ui-draggable .cols li > .entry {
  padding: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
  cursor: pointer;
}
.widget.browser.ui-draggable .cols li > .entry > span {
  font-size: 65%;
  display: inline-block;
  margin-right: 2px;
  font-style: normal;
}
.widget.browser.ui-draggable .cols li > .entry.active {
  background-color: #333;
  color: #fff;
}
.widget.browser.ui-draggable .cols li > .entry.resource-root {
  display: none;
}
.widget.browser.ui-draggable .cols li > .entry.resource-db,
.widget.browser.ui-draggable .cols li > .entry.resource-fressian {
  font-style: italic;
}
.widget.browser.ui-draggable .cols .children {
  overflow: hidden;
}
.widget.browser.ui-draggable .cols .resources,
.widget.browser.ui-draggable .cols .members,
.widget.browser.ui-draggable .cols .enumitems {
  border-right: 1px solid #999;
}
.widget.browser.ui-draggable .cols .details {
  position: absolute;
}
.widget.browser.ui-draggable .cols .details label {
  font-weight: bold;
  padding-right: 5px;
}
.widget.browser.ui-draggable .cols .details label:after {
  content: ":";
}
.widget.browser.ui-draggable .cols .details .detail {
  padding: 5px;
  border-bottom: 1px solid #999;
}
.widget.browser.ui-draggable .cols .details .detail span {
  word-wrap: break-word;
}
.widget.browser.ui-draggable .cols .details .detail:last-child {
  border-bottom: 0;
}
.connectModal {
  width: 175px;
  z-index: 6;
}
.connectModal div {
  margin-bottom: 5px;
}
.connectModal label {
  width: 50px;
  display: inline-block;
}
.connectModal button {
  float: right;
}
.importModal {
  width: 350px;
}
.importModal textarea {
  width: 100%;
  height: 300px;
}
.importModal button {
  float: right;
}
.cellHalo {
  position: absolute;
  background: #efefef;
  border: 1px solid #333;
  border-top: 0;
  border-radius: 5px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  padding: 5px;
}
.cellHalo button.retract {
  float: left;
}
.cellHalo button.history {
  margin-left: 35px;
}
.cellHalo button.idToggle {
  float: right;
}
.output {
  padding: 5px;
  position: fixed;
  top: 50px;
  bottom: 0;
  right: 0;
  width: 350px;
  border-left: 4px solid #999;
  background: rgba(255, 255, 255, 0.66);
  overflow: auto;
}
.toolbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 666;
  border-bottom: 1px solid #999;
  padding: 10px;
  background: #fdfdfd;
  opacity: 90%;
}
.toolbar button {
  font-family: inherit;
  font-size: inherit;
}
.toolbar button {
  float: right;
}
.toolbar li {
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #999;
  display: inline-block;
  padding: 5px;
  background: #666;
  color: white;
  margin-right: 5px;
}
.toolbar li img {
  margin-left: 5px;
  width: 15px;
  opacity: 0.6;
}
.widget.query.ui-draggable {
  width: 350px;
  height: 300px;
}
.widget.query.ui-draggable .CodeMirror,
.widget.query.ui-draggable .CodeMirror-scroll {
  height: 150px;
}
.widget.query.ui-draggable .details {
  width: 100%;
  top: 150px;
  overflow: hidden;
  clear: both;
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
}
.widget.query.ui-draggable .details .CodeMirror {
  height: 50px;
}
.widget.query.ui-draggable .details .inputs {
  padding: 5px;
  overflow: hidden;
  height: 62px;
}
.widget.query.ui-draggable .details .query {
  float: right;
}
.widget.query.ui-draggable .details .inputToggle {
  float: left;
}
.widget.query.ui-draggable .details .buttons {
  padding: 5px;
  padding-right: 10px;
  overflow: hidden;
  border-top: 1px solid #333;
}
.widget.query.ui-draggable .results {
  height: 50px;
}
.widget.query.ui-draggable .results .cols td {
  font-weight: bold;
}
.widget.query.ui-draggable .results td {
  word-break: break-all;
}
.widget.query.ui-draggable .results td.idlink {
  word-break: normal;
}
.widget.query.ui-draggable .results .rowsWrapper {
  overflow: auto;
  height: 50px;
}
table {
  width: 100%;
}
table td:first-child {
  border-left: none;
}
table td {
  padding: 5px;
  border-bottom: 1px solid #333;
  border-left: 1px solid #333;
}
table td.idlink {
  color: #0000ff;
  text-decoration: underline;
  cursor: pointer;
}
table thead td {
  font-weight: bold;
}
.widget.namespace.ui-draggable.enumNamespace {
  height: auto;
}
.widget.namespace.ui-draggable.enumNamespace .attribute .nameInput {
  width: 80%;
}
.widget.transact.ui-draggable {
  width: 250px;
  height: 250px;
}
.widget.transact.ui-draggable .CodeMirror {
  height: 100px;
}
.widget.transact.ui-draggable textarea {
  border: 0;
  width: 100%;
  padding: 5px;
}
.widget.transact.ui-draggable .buttons {
  background: #fff;
  width: 100%;
  position: absolute;
  padding: 5px;
  padding-right: 5px;
  padding-bottom: 10px;
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
  overflow: hidden;
}
.widget.transact.ui-draggable .buttons .transact {
  float: right;
  margin-right: 10px;
}
.widget.transact.ui-draggable .results {
  margin-top: 39px;
  overflow: auto;
}
.widget.namespace.pendingChanges {
  border: 3px solid #ffd700;
}
.widget.namespace.noChanges {
  border: 3px solid #6b8e23;
}
.entity .lit {
  background: #FFE767;
}
.widget.entity.ui-draggable {
  width: 400px;
  height: 200px;
}
.widget.entity.ui-draggable .searchForm .message {
  padding: 5px;
}
.widget.entity.ui-draggable .searchForm select,
.widget.entity.ui-draggable .searchForm input {
  display: inline-block;
  margin: 5px;
}
.widget.entity.ui-draggable .searchForm .results {
  border-top: 1px solid #999;
  border-bottom: 1px solid #999;
  padding: 5px;
  overflow: auto;
}
.widget.entity.ui-draggable .searchForm .results .link,
.widget.entity.ui-draggable .searchForm .results .idlink {
  color: #0000ff;
  text-decoration: underline;
  cursor: pointer;
}
.widget.entity.ui-draggable .searchForm .results .result {
  margin-top: 5px;
  border-bottom: 1px solid #999;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 5px;
}
.widget.entity.ui-draggable .searchForm .results .result input {
  display: block;
  border: 1px solid #333;
  padding: 5px;
  width: 90%;
}
.widget.entity.ui-draggable .searchForm .results .result input.removed {
  color: #ccc;
  background: #999;
}
.widget.entity.ui-draggable .searchForm .results .result .entityLink {
  text-decoration: underline;
  color: #0000ff;
  cursor: pointer;
}
.widget.entity.ui-draggable .searchForm .results .result .inputHolder {
  position: relative;
}
.widget.entity.ui-draggable .searchForm .results .result .inputHolder input[type="checkbox"] {
  margin-bottom: 15px;
}
.widget.entity.ui-draggable .searchForm .results .result .inputHolder button.remove {
  position: absolute;
  right: 8%;
  top: 2px;
}
.widget.entity.ui-draggable .searchForm .results .result .newAttribute {
  margin-top: 1em;
  margin-bottom: 1em;
  background: #efefef;
  padding: 5px;
}
.widget.entity.ui-draggable .searchForm .results .result .refinput {
  position: relative;
}
.widget.entity.ui-draggable .searchForm .results .result .refinput input {
  width: 90%;
}
.widget.entity.ui-draggable .searchForm .results .result .refinput .browse {
  position: absolute;
  right: 14%;
  top: 2px;
}
.widget.entity.ui-draggable .searchForm .results .result .refinput button.remove {
  position: absolute;
  right: 8%;
  top: 2px;
}
.widget.entity.ui-draggable .searchForm .results .result:last-child {
  border-bottom: 0;
}
.widget.entity.ui-draggable .searchForm .results .subEntity .result {
  border-top: 0;
  margin-top: 0;
}
.widget.entity.ui-draggable .searchForm .results .namespaces .nsname {
  font-weight: bold;
  font-size: 110%;
}
.widget.entity.ui-draggable .searchForm .results .namespaces > li > ul {
  padding-left: 20px;
}
.widget.entity.ui-draggable .searchForm .moreRow {
  text-align: center;
  padding: 5px;
}
.widget.entity.ui-draggable .searchForm label {
  font-weight: bold;
  display: inline-block;
  margin-right: 5px;
}
.widget.entity.ui-draggable .searchForm label:after {
  content: ":";
}
.pickerHolder {
  width: 210px;
  background: #fff;
  border: 1px solid #999;
  border-radius: 5px;
  padding: 5px;
}
.widget.sketch.ui-draggable {
  background: none;
}
.widget.sketch.ui-draggable .tools {
  overflow: hidden;
  background: #fff;
  position: relative;
  padding: 5px;
  border-bottom: 1px solid #999;
}
.widget.sketch.ui-draggable .tools > div {
  display: inline-block;
}
.widget.sketch.ui-draggable .tools .activeColor {
  margin-left: 5px;
  display: inline-block;
  width: 1em;
  height: 1em;
  border: 1px solid #ccc;
  cursor: pointer;
  margin-bottom: -5px;
}
.widget.sketch.ui-draggable .tools button {
  float: right;
}
.widget.sketch.ui-draggable .showChrome {
  display: none;
}
.widget.keepOnTop {
  z-index: 9999;
}
.widget.sketch.ui-draggable.nochrome {
  border: 1px solid transparent;
  border-radius: 0;
}
.widget.sketch.ui-draggable.nochrome .handle {
  visibility: hidden;
}
.widget.sketch.ui-draggable.nochrome .tools {
  visibility: hidden;
}
.widget.sketch.ui-draggable.nochrome .showChrome {
  display: block;
  position: absolute;
  right: 5px;
  top: 5px;
}
.widget.sketch.ui-draggable.nochrome canvas {
  pointer-events: none;
}
.widget.namespace.ui-draggable {
  min-width: 300px;
  height: auto;
}
.widget.namespace.ui-draggable .nameHeader {
  padding: 5px;
  overflow: hidden;
  border-bottom: 1px solid #999;
}
.widget.namespace.ui-draggable .nameHeader input,
.widget.namespace.ui-draggable .nameHeader span {
  background: inherit;
  border: 0;
  font-family: inherit;
  font-size: 119%;
  width: 170px;
  float: left;
}
.widget.namespace.ui-draggable .nameHeader button {
  float: right;
}
.widget.namespace.ui-draggable .buttons {
  margin-top: 5px;
  margin-bottom: 5px;
  overflow: hidden;
}
.widget.namespace.ui-draggable button.addAttribute,
.widget.namespace.ui-draggable button.addRecord {
  float: left;
  margin-left: 44%;
}
.widget.namespace.ui-draggable button.dataToggle {
  float: right;
  margin-right: 9px;
}
.widget.namespace.ui-draggable .records table {
  width: 100%;
}
.widget.namespace.ui-draggable .records button.remove {
  float: right;
  margin-right: 6px;
}
.widget.namespace.ui-draggable .records .columns {
  overflow: hidden;
}
.widget.namespace.ui-draggable .records .columns .cell {
  min-width: 157px;
  padding: 5px;
  font-weight: bold;
  font-size: 115%;
  border-left: 1px solid #999;
  border-bottom: 1px solid #999;
  background: #efefef;
}
.widget.namespace.ui-draggable .records .columns .cell.actionCol {
  min-width: 32px;
}
.widget.namespace.ui-draggable .records .columns th:first-child {
  border-left: 0;
}
.widget.namespace.ui-draggable .records td:first-child {
  border-left: 0;
}
.widget.namespace.ui-draggable .records td.pendingChanges {
  background: #FFC852;
}
.widget.namespace.ui-draggable .records td {
  border-left: 1px solid #999;
  border-bottom: 1px solid #999;
  padding: 5px;
  position: relative;
}
.widget.namespace.ui-draggable .records td input {
  border: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  background: inherit;
}
.widget.namespace.ui-draggable .records td .entityNS {
  position: absolute;
  top: 0;
  left: 0;
  border-right: 1px solid #999;
  border-bottom: 1px solid #999;
  padding: 3px;
  padding-bottom: 1px;
  padding-top: 1px;
  font-size: 9pt;
  background-color: buttonface;
  cursor: pointer;
}
.widget.namespace.ui-draggable .records td .entityField {
  position: absolute;
  bottom: 0;
  left: 0;
}
.widget.namespace.ui-draggable .records td .entityField select {
  font-size: 9pt;
  margin: 0;
}
.widget.namespace.ui-draggable .records td .entityField select option {
  font-size: 8pt;
}
.widget.namespace.ui-draggable .records td .entityVal {
  max-height: 32px;
  overflow: hidden;
  position: absolute;
  right: 15px;
  bottom: 0;
  padding-bottom: 1px;
  padding-left: 2px;
}
.widget.namespace.ui-draggable .records td .entityBrowse {
  position: absolute;
  right: 0px;
  bottom: 0px;
  border-left: 1px solid #999;
  border-top: 1px solid #999;
  background-color: buttonface;
  padding-left: 2px;
  padding-right: 2px;
  cursor: pointer;
}
.widget.namespace.ui-draggable .attributes {
  padding: 5px;
  border-bottom: 1px solid #999;
  overflow: auto;
}
.widget.namespace.ui-draggable .attributes .attribute.tokenActive {
  border: 1px solid #9999cc;
}
.widget.namespace.ui-draggable .attributes .attribute {
  border: 1px solid #ffffee;
  margin-bottom: 5px;
}
.widget.namespace.ui-draggable .attributes .attribute .optionsToggle {
  font-size: 80%;
  cursor: pointer;
  display: inline-block;
}
.widget.namespace.ui-draggable .attributes .attribute span.name {
  display: inline-block;
  margin-left: 3px;
}
.widget.namespace.ui-draggable .attributes .attribute div.valueType {
  width: 85px;
  height: 18px;
  padding-top: 3px;
  float: right;
  margin-left: 5px;
  margin-right: 5px;
}
.widget.namespace.ui-draggable .attributes .attribute span.cardinality {
  height: 18px;
  padding-top: 3px;
  display: inline-block;
  margin-right: 5px;
  float: right;
}
.widget.namespace.ui-draggable .attributes .attribute .options {
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 1px dashed #999;
  width: 290px;
}
.widget.namespace.ui-draggable .attributes .attribute .options .optionHolder label.doc {
  display: none;
}
.widget.namespace.ui-draggable .attributes .attribute .options .optionHolder textarea {
  margin-top: 10px;
  margin-bottom: 10px;
  display: block;
  width: 280px;
  height: 50px;
  padding: 5px;
}
.widget.namespace.ui-draggable .attributes .attribute .options label {
  width: 90px;
  display: inline-block;
  padding-right: 5px;
  text-align: right;
}
.widget.namespace.ui-draggable .attributes .nameInput {
  width: 80px;
  height: 21px;
  border: 0;
  margin-left: 3px;
  font-family: inherit;
  font-size: inherit;
  display: inline-block;
}
.widget.namespace.ui-draggable .attributes .typeCombo {
  float: right;
  font-family: inherit;
  font-size: inherit;
  display: inline-block;
  height: 21px;
}
.widget.namespace.ui-draggable .attributes .oneOrManyToggle {
  cursor: pointer;
  width: 16px;
  height: 19px;
  text-align: center;
  float: right;
  border-radius: 2px;
  background: #efefef;
  border: 1px solid #999;
  display: inline-block;
  margin-left: 5px;
}
.widget.namespace.ui-draggable .attributes .removeButton {
  height: 21px;
  margin-left: 5px;
  float: right;
}
.cm-symbol {
  font-weight: bold;
  cursor: pointer;
}
.cm-s-default span.cm-atom.cm-keyword.cm-missing {
  color: #ff0000;
}
span.cm-missing {
  color: #ff0000;
}
span.cm-atom.cm-missing {
  color: #ff0000;
}
.cm-symbol.tokenActive {
  text-decoration: underline;
  font-style: italic;
}
.cm-keyword {
  cursor: pointer;
}
.vector {
  display: inline-block;
  overflow: hidden;
  margin: 5px;
  margin-top: 0;
  margin-bottom: 0;
  border-radius: 5px;
  border-left: 2px solid #333;
  border-right: 2px solid #333;
}
.vector .inputWrapper {
  float: left;
  margin: 5px;
}
.vector .vector {
  float: left;
}
.vector .inputWrapper {
  border: 1px solid #333;
  border-radius: 5px;
  padding: 5px;
  display: inline-block;
}
.vector .inputWrapper select {
  font-size: inherit;
  font-family: inherit;
  font-size: 85%;
}
.vector .inputWrapper input,
.vector .inputWrapper textarea {
  border: 0;
  font-size: inherit;
  font-family: inherit;
  font-size: 85%;
  height: 22px;
}
.explorer {
  position: fixed;
  width: 266.64px;
  right: 55px;
  bottom: 330px;
  overflow: hidden;
  border: 1px solid #999;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 5px;
  z-index: 1000;
}
.explorer .title {
  borer: 1px solid #999;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom: 1px solid #999;
  padding: 5px;
  cursor: pointer;
  background: #666;
  color: #fff;
}
.explorer .tree {
  height: 200px;
  overflow: auto;
}
.explorer .tree li {
  padding: 5px;
}
.explorer .tree li li:hover {
  background: #FFE767;
}
.explorer .tree li li {
  padding-left: 20px;
  font-size: 85%;
  cursor: pointer;
  text-decoration: underline;
  color: #0000ff;
  overflow: hidden;
}
.explorer .tree li li .desc {
  float: left;
}
.explorer .tree li li button.remove {
  float: right;
}
.CartographicSurface {
  overflow: hidden;
}
.CartographicSurface .nodes .node.lit {
  background: #F3DB5C;
}
.widget.lit,
.widget.note.ui-draggable.lit,
.widget.label.ui-draggable.lit .widget.transact.ui-draggable.lit {
  background: #FFE767 !important;
}
.widget.lit .buttons,
.widget.note.ui-draggable.lit .buttons,
.widget.label.ui-draggable.lit .widget.transact.ui-draggable.lit .buttons {
  background: none !important;
}
.entry.ui-draggable-dragging,
.detail.ui-draggable-dragging {
  border: 1px solid #333;
  border-radius: 5px;
  padding: 5px;
  background: #efefef;
  list-style-type: none;
  word-wrap: break-word;
}
.entry.ui-draggable-dragging .entityId,
.detail.ui-draggable-dragging .entityId {
  font-size: 110%;
  font-weight: bold;
}
.entry.ui-draggable-dragging label,
.detail.ui-draggable-dragging label {
  display: inline-block;
  font-weight: bold;
  margin-right: 5px;
}
.entry.ui-draggable-dragging label:after,
.detail.ui-draggable-dragging label:after {
  content: ":";
}
.widget.rules.ui-draggable {
  width: 300px;
  height: 150px;
}
.widget.datom.ui-draggable {
  width: 300px;
  height: 150px;
}
.widget.datom.ui-draggable .details {
  padding: 5px;
}
.widget.datom.ui-draggable label {
  font-weight: bold;
  margin-right: 5px;
  display: inline-block;
}
.connect {
  z-index: 3;
}
.connection {
  padding-top: 15px;
  z-index: 2;
  position: fixed;
  right: 10px;
  top: 40px;
}
.vsplitbar {
  width: 2px;
  background: #333;
}
.hsplitbar {
  height: 2px;
  background: #333;
}